:root {
  --slr2-color-primary: #0a16aa;
  --slr2-color-secondary: #000;
  --slr2-color-tertiary: #fff;

  --slr2-background-color: var(--slr2-color-tertiary);
  --slr2-text-color: var(--slr2-color-secondary);
  --slr2-link-color: var(--slr2-color-primary);
}
