<link rel="stylesheet" href="/components/header.search/style.css" />
<script src="/components/header.search/script.js"></script>

<div id="slr2SearchElem" class="slr2-search--show">
  <div class="slr2-search-wrapper">
    <div class="slr2-search-container">
      <form action="" method="">
        <span
          style="
            background-image: url('/components/header.search/search-icon.svg');
          "
          class="slr2-search-icon"
        ></span
        ><span class="slr2-search-clear"></span>
        <input
          id="title-search-input"
          type="search"
          name="q"
          size="23"
          maxlength="50"
          autocomplete="off"
          value=""
          placeholder="Поиск"
          class="slr2-search-input"
        />
        <input name="s" type="hidden" value="" />
      </form>
    </div>
  </div>
</div>
