<link rel="stylesheet" href="../../components/catalog-menu/style.css" />

<div class="slr2-catalog-menu-wrapper">
  <div class="slr2-container">
    <div class="slr2-catalog-menu-grid-container">
      <div class="slr2-catalog-menu-grid-item">
        <div class="slr2-catalog-menu-h3">Мужская одежда</div>
        <a href="#">Рубашки</a>
        <a href="#">Джинсы</a><a href="#">Пиджаки</a><a href="#">Куртки</a
        ><a href="#">Брюки</a><a href="#">Тренчи</a>
        <a href="#">Спортивные костюмы</a>
      </div>
      <div class="slr2-catalog-menu-grid-item">
        <div class="slr2-catalog-menu-h3">Женская одежда</div>
        <a href="#">Платья</a>
        <div class="slr2-catalog-menu-grid-sub">
          <a href="#">Платья</a>
          <a href="#">Платья</a>
          <div class="slr2-catalog-menu-grid-sub">
            <a href="#">Платья</a>
            <a href="#">Платья</a>
            <a href="#">Платья</a>
          </div>
          <a href="#">Платья</a>
        </div>
        <a href="#">Платья</a>
        <a href="#">Платья</a>
        <a href="#">Юбки</a>
        <a href="#">Топы</a>
        <a href="#">Кардиганы</a>
        <a href="#">Блузы</a>
        <a href="#">Жакеты</a>
        <a href="#">Леггинсы</a>
        <a href="#">Пальто</a>
      </div>
      <div class="slr2-catalog-menu-grid-item">
        <div class="slr2-catalog-menu-h3">Одежда для мальчиков</div>
        <a href="#">Шорты</a>
        <a href="#">Толстовки</a><a href="#">Футболки</a><a href="#">Джинсы</a
        ><a href="#">Куртки</a><a href="#">Свитера</a>
        <a href="#">Школьная форма</a>
      </div>
      <div class="slr2-catalog-menu-grid-item">
        <div class="slr2-catalog-menu-h3">Одежда для девочек</div>
        <a href="#">Леггинсы</a><a href="#">Кардиганы</a><a href="#">Платья</a
        ><a href="#">Юбки</a><a href="#">Блузы</a><a href="#">Туники</a>
        <a href="#">Школьная форма</a>
      </div>
      <div class="slr2-catalog-menu-grid-item">
        <div class="slr2-catalog-menu-h3">Аксессуары для мужчин</div>
        <a href="#">Часы</a><a href="#">Ремни</a><a href="#">Галстуки</a
        ><a href="#">Кошельки</a><a href="#">Шарфы</a><a href="#">Перчатки</a
        ><a href="#">Очки</a>
      </div>
      <div class="slr2-catalog-menu-grid-item">
        <div class="slr2-catalog-menu-h3">Аксессуары для женщин</div>
        <a href="#">Сумки</a><a href="#">Шарфы</a><a href="#">Украшения</a
        ><a href="#">Пояса</a><a href="#">Часы</a><a href="#">Кошельки</a
        ><a href="#">Шляпы</a>
      </div>
      <div class="slr2-catalog-menu-grid-item">
        <div class="slr2-catalog-menu-h3">Обувь для мужчин</div>
        <a href="#">Кроссовки</a><a href="#">Ботинки</a><a href="#">Мокасины</a
        ><a href="#">Туфли</a><a href="#">Сандалии</a><a href="#">Сапоги</a>
      </div>
      <div class="slr2-catalog-menu-grid-item">
        <div class="slr2-catalog-menu-h3">Обувь для женщин</div>
        <a href="#">Туфли</a><a href="#">Балетки</a><a href="#">Сапоги</a
        ><a href="#">Кроссовки</a><a href="#">Сандалии</a><a href="#">Лоферы</a
        ><a href="#">Босоножки</a>
      </div>
    </div>
  </div>
</div>
