<link rel="stylesheet" href="../../components/catalog-menu/style.css" />

<div class="slr2-catalog-menu-wrapper">
  <div class="slr2-container">
    <div class="slr2-catalog-menu-grid-container">
      <div class="slr2-catalog-menu-grid-item">
        <div class="slr2-catalog-menu-h3">Мужская одежда</div>
        <div class="slr2-catalog-menu-grid-item">
          <a href="#">Рубашки</a>
        </div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Джинсы</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Пиджаки</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Куртки</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Брюки</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Тренчи</a></div>
        <div class="slr2-catalog-menu-grid-item">
          <a href="#">Спортивные костюмы</a>
        </div>
      </div>
      <div class="slr2-catalog-menu-grid-item">
        <div class="slr2-catalog-menu-h3">Женская одежда</div>

        <div class="slr2-catalog-menu-grid-item">
          <a href="#">Платья</a>
          <div class="slr2-catalog-menu-grid-item">
            <a href="#">Платья</a>
            <div class="slr2-catalog-menu-grid-item">
              <a href="#">Платья</a>
              <a href="#">Платья</a>
              <a href="#">Платья</a>
              <a href="#">Платья</a>
            </div>
            <a href="#">Платья</a>
            <a href="#">Платья</a>
            <a href="#">Платья</a>
          </div>
        </div>

        <div class="slr2-catalog-menu-grid-item"><a href="#">Юбки</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Топы</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Кардиганы</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Блузы</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Жакеты</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Леггинсы</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Пальто</a></div>
      </div>
      <div class="slr2-catalog-menu-grid-item">
        <div class="slr2-catalog-menu-h3">Одежда для мальчиков</div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Шорты</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Толстовки</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Футболки</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Джинсы</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Куртки</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Свитера</a></div>
        <div class="slr2-catalog-menu-grid-item">
          <a href="#">Школьная форма</a>
        </div>
      </div>
      <div class="slr2-catalog-menu-grid-item">
        <div class="slr2-catalog-menu-h3">Одежда для девочек</div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Леггинсы</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Кардиганы</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Платья</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Юбки</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Блузы</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Туники</a></div>
        <div class="slr2-catalog-menu-grid-item">
          <a href="#">Школьная форма</a>
        </div>
      </div>
      <div class="slr2-catalog-menu-grid-item">
        <div class="slr2-catalog-menu-h3">Аксессуары для мужчин</div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Часы</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Ремни</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Галстуки</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Кошельки</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Шарфы</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Перчатки</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Очки</a></div>
      </div>
      <div class="slr2-catalog-menu-grid-item">
        <div class="slr2-catalog-menu-h3">Аксессуары для женщин</div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Сумки</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Шарфы</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Украшения</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Пояса</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Часы</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Кошельки</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Шляпы</a></div>
      </div>
      <div class="slr2-catalog-menu-grid-item">
        <div class="slr2-catalog-menu-h3">Обувь для мужчин</div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Кроссовки</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Ботинки</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Мокасины</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Туфли</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Сандалии</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Сапоги</a></div>
      </div>
      <div class="slr2-catalog-menu-grid-item">
        <div class="slr2-catalog-menu-h3">Обувь для женщин</div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Туфли</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Балетки</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Сапоги</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Кроссовки</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Сандалии</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Лоферы</a></div>
        <div class="slr2-catalog-menu-grid-item"><a href="#">Босоножки</a></div>
      </div>
    </div>
  </div>
</div>
