<div class="slr2-basket-content">
  <div class="slr2-basket-load-title">Последние добавленные товары</div>
  <div class="slr2-basket-load-grid">
    <div class="slr2-basket-load__item">
      <a href="" class="slr2-basket-load__img">
        <img
          src="../../components/basket/images/item.jpg"
          alt="Рубашка Liu Jo Uomo"
        />
      </a>
      <div class="slr2-basket-load__text">
        <a href="" class="slr2-basket-load__title">Рубашка Liu Jo Uomo</a>
        <div class="slr2-basket-load__price">30 000 руб.</div>
      </div>
    </div>

    <div class="slr2-basket-load__item">
      <a href="" class="slr2-basket-load__img">
        <img
          src="../../components/basket/images/item.jpg"
          alt="Рубашка Liu Jo Uomo"
        />
      </a>
      <div class="slr2-basket-load__text">
        <a href="" class="slr2-basket-load__title">Рубашка Liu Jo Uomo</a>
        <div class="slr2-basket-load__price">30 000 руб.</div>
      </div>
    </div>

    <div class="slr2-basket-load__item">
      <a href="" class="slr2-basket-load__img">
        <img
          src="../../components/basket/images/item.jpg"
          alt="Рубашка Liu Jo Uomo"
        />
      </a>
      <div class="slr2-basket-load__text">
        <a href="" class="slr2-basket-load__title">Рубашка Liu Jo Uomo</a>
        <div class="slr2-basket-load__price">30 000 руб.</div>
      </div>
    </div>

    <div class="slr2-basket-load__item">
      <a href="" class="slr2-basket-load__img">
        <img
          src="../../components/basket/images/item.jpg"
          alt="Рубашка Liu Jo Uomo"
        />
      </a>
      <div class="slr2-basket-load__text">
        <a href="" class="slr2-basket-load__title">Рубашка Liu Jo Uomo</a>
        <div class="slr2-basket-load__price">30 000 руб.</div>
      </div>
    </div>
  </div>
  <div class="slr2-basket-load-button">
    <a href="">
      <span>Перейти в корзину</span>
      <span>12 вещей на сумму 166 770 руб.</span>
    </a>
  </div>
</div>
