.slr2-search-component-container {
  position: static !important;
  opacity: 1 !important;
  z-index: 0 !important;
}
#slr2SearchElem {
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.3 ease;
  transition: opacity;
  -webkit-transition: opacity;
  position: relative;
  z-index: -1;
}
#slr2SearchElem.slr2-search--show {
  pointer-events: auto;
  opacity: 1;
  z-index: 10000;
}
#slr2SearchElem .slr2-search-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--slr2-color-primary);
  padding: 16px;
  z-index: 10;
}
#slr2SearchElem .slr2-search-container {
  position: relative;
  width: 100%;
  max-width: 926px;
  margin: 68px auto 0;
}
#slr2SearchElem .slr2-search-input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0;
  display: block;
  height: 64px;
  width: 100%;
  margin: 0;
  padding: 0 16px 0 64px;
  box-sizing: border-box;
  outline: none;
  color: #fff;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#slr2SearchElem .slr2-search-input:hover,
#slr2SearchElem .slr2-search-input:visited {
  outline: none;
}
#slr2SearchElem .slr2-search-input::placeholder {
  color: #fff;
}
#slr2SearchElem input[type='search']::-webkit-search-cancel-button,
#slr2SearchElem input[type='search']::-webkit-search-decoration,
#slr2SearchElem input[type='search']::-webkit-search-results-button,
#slr2SearchElem input[type='search']::-webkit-search-results-decoration {
  display: none;
}
#slr2SearchElem .slr2-search-icon {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 32px;
  height: 32px;
  z-index: 10;
}
#slr2SearchElem .slr2-search-clear {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity;
  -webkit-transition: opacity;
  z-index: 10;
}
#slr2SearchElem .slr2-search-clear:before {
  content: '';
  position: absolute;
  top: 15px;
  right: 2px;
  border-top: 1px solid #fff;
  width: 24px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  z-index: 10;
}
#slr2SearchElem .slr2-search-clear:after {
  content: '';
  position: absolute;
  top: 15px;
  right: 2px;
  border-top: 1px solid #fff;
  width: 24px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  z-index: 10;
}
#slr2SearchElem.slr2-search--filled .slr2-search-clear {
  opacity: 1;
  pointer-events: auto;
}
#slr2SearchElem.slr2-search--filled .slr2-search-clear:hover {
  opacity: 0.7;
}

/*Result*/
#slr2SearchElem .slr2-search-result {
  position: absolute;
  top: calc(16px + 68px + 64px + 10px);
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 16px * 2);
  max-width: 926px;
  font-size: 14px;
  font-family: 'Open Sans', Arial, sans-serif;
  z-index: 100;
}
#slr2SearchElem .slr2-search-result-item,
#slr2SearchElem .slr2-search-result-page,
#slr2SearchElem .slr2-search-result-all {
  display: grid;
  grid-template-columns: 64px 1fr;
  gap: 16px;
  align-items: center;
  margin-bottom: 8px;
}
#slr2SearchElem .slr2-search-result-img {
  width: 64px;
  height: 64px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
#slr2SearchElem .slr2-search-result-text {
  color: #fff;
  overflow: hidden;
}
#slr2SearchElem .slr2-search-result b {
  font-weight: bold;
}
#slr2SearchElem .slr2-search-result-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 4px;
}
#slr2SearchElem .slr2-search-result-all .slr2-search-result-icon,
#slr2SearchElem .slr2-search-result-page .slr2-search-result-icon {
  width: 64px;
  height: 32px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 767px) {
  #slr2SearchElem .slr2-search-container {
    margin-top: 4px;
  }
  #slr2SearchElem .slr2-search-input {
    padding: 0 48px;
    font-size: 14px;
  }
  #slr2SearchElem .slr2-search-icon {
    top: 16px;
    left: 8px;
  }
  #slr2SearchElem .slr2-search-clear {
    top: 16px;
    right: 8px;
  }

  #slr2SearchElem .slr2-search-result {
    top: calc(20px + 64px + 10px);
  }
}
