<link rel="stylesheet" href="../../components/search/style.css" />

<div class="slr2-search-wrapper">
  <div class="slr2-search-container">
    <form action="" method="">
      <span
        style="background-image: url('../../components/search/search-icon.svg')"
        class="slr2-search-icon"
      ></span
      ><span class="slr2-search-clear"></span>
      <input
        id="title-search-input"
        type="search"
        name="q"
        size="23"
        maxlength="50"
        autocomplete="off"
        value=""
        placeholder="Поиск"
        class="slr2-search-input"
      />
      <input name="s" type="hidden" value="" />
    </form>
  </div>
  <div class="slr2-search-result">
    <a href="" class="slr2-search-result-page">
      <img src="" class="slr2-search-result-icon" />
      <span class="slr2-search-result-text"><b>Пальт</b>о</span>
    </a>

    <a href="" class="slr2-search-result-item">
      <img src="" class="slr2-search-result-img" />
      <span class="slr2-search-result-text">
        <span class="slr2-search-result-name">
          <b>Пальто</b> Liu Jo Uomo Liu Jo Uomo
        </span>
        <span class="slr2-search-result-price"><b>30 000 руб.</b></span>
      </span>
    </a>

    <a href="" class="slr2-search-result-item">
      <img src="" class="slr2-search-result-img" />
      <span class="slr2-search-result-text">
        <span class="slr2-search-result-name"><b>Пальто</b> Liu Jo Uomo</span>
        <span class="slr2-search-result-price"><b>30 000 руб.</b></span>
      </span>
    </a>

    <a href="" class="slr2-search-result-item">
      <img src="" class="slr2-search-result-img" />
      <span class="slr2-search-result-text">
        <span class="slr2-search-result-name"><b>Пальто</b> Liu Jo Uomo</span>
        <span class="slr2-search-result-price"><b>30 000 руб.</b></span>
      </span>
    </a>

    <a href="" class="slr2-search-result-all">
      <img src="" class="slr2-search-result-icon" />
      <span class="slr2-search-result-text"><b>Все результаты</b></span>
    </a>
  </div>
</div>
