<link rel="stylesheet" href="../../components/search/style.css" />

<div class="slr2-search-wrapper">
  <div class="slr2-search-container">
    <form action="" method="">
      <span
        style="background-image: url('../../components/search/search-icon.svg')"
        class="slr2-search-icon"
      ></span
      ><span class="slr2-search-clear"></span>
      <input
        id="title-search-input"
        type="search"
        name="q"
        size="23"
        maxlength="50"
        autocomplete="off"
        value=""
        placeholder="Поиск"
        class="slr2-search-input"
      />
      <input name="s" type="hidden" value="" />
    </form>
  </div>
  <div class="slr2-search-result">
    <div class="slr2-search-result-page">
      <img src="" class="slr2-search-result-icon" />
      <div class="slr2-search-result-text"><b>Пальт</b>о</div>
    </div>

    <div class="slr2-search-result-item">
      <img src="" class="slr2-search-result-img" />
      <div class="slr2-search-result-text">
        <div class="slr2-search-result-name">
          <b>Пальто</b> Liu Jo Uomo Liu Jo Uomo
        </div>
        <div class="slr2-search-result-price"><b>30 000 руб.</b></div>
      </div>
    </div>

    <div class="slr2-search-result-item">
      <img src="" class="slr2-search-result-img" />
      <div class="slr2-search-result-text">
        <div class="slr2-search-result-name"><b>Пальто</b> Liu Jo Uomo</div>
        <div class="slr2-search-result-price"><b>30 000 руб.</b></div>
      </div>
    </div>

    <div class="slr2-search-result-item">
      <img src="" class="slr2-search-result-img" />
      <div class="slr2-search-result-text">
        <div class="slr2-search-result-name"><b>Пальто</b> Liu Jo Uomo</div>
        <div class="slr2-search-result-price"><b>30 000 руб.</b></div>
      </div>
    </div>

    <div class="slr2-search-result-all">
      <img src="" class="slr2-search-result-icon" />
      <div class="slr2-search-result-text"><b>Все результаты</b></div>
    </div>
  </div>
</div>
