.slr2-mobile-menu-component-container {
  position: static !important;
  opacity: 1 !important;
  z-index: auto !important;
}
#slr2MobileMenuElem {
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  position: relative;
  z-index: -1;
}
#slr2MobileMenuElem.slr2-mobile-menu--show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: auto;
  opacity: 1;
  z-index: 10000;
}
#slr2MobileMenuElem .slr2-mobile-menu {
  background-color: var(--slr2-color-primary);
  font-size: 14px;
}
#slr2MobileMenuElem a {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  text-decoration: none;
}
@media (min-width: 1025px) {
  #slr2MobileMenuElem {
    display: none;
  }
}
@media (max-width: 1024px) {
  #slr2MobileMenuElem .slr2-mobile-menu {
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
  }
  #slr2MobileMenuElem .slr2-mobile-menu__block {
    height: 100vh;
    overflow-y: auto;
  }
  #slr2MobileMenuElem .slr2-mobile-menu__link {
    display: block;
    height: 58px;
    line-height: 58px;
    background: var(--slr2-color-primary);
    color: #fff;
    margin-bottom: 1px;
    padding: 0 48px 0 24px;
    font-size: 15px;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
  }
  #slr2MobileMenuElem .slr2-mobile-menu__link:focus,
  #slr2MobileMenuElem .slr2-mobile-menu__link:hover,
  #slr2MobileMenuElem .slr2-mobile-menu__link:active {
    opacity: 1;
  }
  #slr2MobileMenuElem a.slr2-mobile-menu__link {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #slr2MobileMenuElem .slr2-mobile-menu__link:not(.i-link):after {
    content: '';
    display: block;
    position: absolute;
    top: 24px;
    right: 25px;
    width: 8px;
    height: 8px;
    border: 2px solid #fff;
    border-right: 0;
    border-bottom: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    z-index: 1;
  }
  #slr2MobileMenuElem .slr2-mobile-menu__link:not(.i-link):before {
    content: '';
    display: block;
    position: absolute;
    top: 24px;
    left: 25px;
    width: 8px;
    height: 8px;
    border: 2px solid #fff;
    border-right: 0;
    border-bottom: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    z-index: 1;
  }
  #slr2MobileMenuElem .slr2-mobile-menu__link span {
    display: block;
    position: absolute;
    top: 20px;
    right: 25px;
    height: auto;
    line-height: normal;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    color: #fff;
    z-index: 1;
  }
  #slr2MobileMenuElem .slr2-mobile-menu__link i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -2px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  #slr2MobileMenuElem .slr2-mobile-menu__item.active .slr2-mobile-menu__link {
    padding-right: 24px;
    padding-left: 67px;
  }
  #slr2MobileMenuElem
    .slr2-mobile-menu__item.active
    .slr2-mobile-menu__link:after {
    opacity: 0;
  }
  #slr2MobileMenuElem
    .slr2-mobile-menu__item.active
    .slr2-mobile-menu__link:before {
    opacity: 1;
  }
  #slr2MobileMenuElem
    .slr2-mobile-menu__item.active
    .slr2-mobile-menu__link
    span {
    opacity: 1;
    z-index: 10;
  }
  #slr2MobileMenuElem .slr2-mobile-menu__sub {
    display: none;
    margin-bottom: 1px;
    max-height: 192px;
    overflow-y: auto;
  }
  #slr2MobileMenuElem .slr2-mobile-menu__sub__title,
  #slr2MobileMenuElem .slr2-mobile-menu__sub__item {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 67px;
    font-size: 15px;
    background: var(--slr2-color-primary);
    color: #fff;
    box-sizing: border-box;
  }
  #slr2MobileMenuElem
    .slr2-mobile-menu__sub
    .slr2-mobile-menu__sub__title:first-child,
  #slr2MobileMenuElem
    .slr2-mobile-menu__sub
    .slr2-mobile-menu__sub__item:first-child {
    padding-top: 20px;
  }
  #slr2MobileMenuElem .slr2-mobile-menu__sub__item:last-child {
    padding-bottom: 20px;
  }
  #slr2MobileMenuElem .slr2-mobile-menu__close {
    color: #fff;
    min-height: 50px;
    display: flex;
    align-items: center;
    padding: 0 24px;
    font-size: 20px;
  }
}
@media (min-width: 1025px) {
  #slr2MobileMenuElem .slr2-mobile-menu {
    display: flex;
    height: 64px;
  }
  #slr2MobileMenuElem .slr2-mobile-menu__item {
    height: 64px;
    line-height: 64px;
    padding: 0 24px;
  }
  #slr2MobileMenuElem .slr2-mobile-menu__sub,
  #slr2MobileMenuElem .slr2-mobile-menu__title,
  #slr2MobileMenuElem .slr2-mobile-menu__link span {
    display: none;
  }
  #slr2MobileMenuElem .slr2-mobile-menu__block {
    display: flex;
  }
}
@media (max-width: 419px) {
  #slr2MobileMenuElem .slr2-mobile-menu__title a,
  #slr2MobileMenuElem .slr2-mobile-menu__link {
    padding: 0 12px;
  }
  #slr2MobileMenuElem .slr2-mobile-menu__link:after,
  #slr2MobileMenuElem .slr2-mobile-menu__link span {
    right: 13px;
  }
  #slr2MobileMenuElem .slr2-mobile-menu__sandwich-icon {
    margin-right: 13px;
  }
  #slr2MobileMenuElem .slr2-mobile-menu__link:before {
    left: 25px;
  }
  #slr2MobileMenuElem a.slr2-mobile-menu__link:hover,
  #slr2MobileMenuElem a.slr2-mobile-menu__link:focus {
    opacity: 1;
  }
}
